@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background-color: #2b2a33;
  font-family: "DM Sans", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .fix-justify {
    word-spacing: -2px;
    word-break: keep-all;
  }

  .webkit-rm-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
}

.banner {
  margin-top: 0;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.h-under-banner {
  height: calc(35rem - 360px);
}
